<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Localconncet</title>
  <link rel="stylesheet" href="../static/inde.css">

</head>

<body>
  <header class="menu">
    <h2> Local <span>Connect</span></h2>

  </header>
  <div class="container">
    <div class="card-perfil">
      <div class="cont">
        <div>
          <h1>Já Tem uma Conta? <span>acesse! </span></h1>
        </div>
        <form method="post" action="../src/Controller/userController.php" action="">
          <div class="formulario">
            <div>
              <label>Email:</label>
              <input type="email" name="email">
            </div>
            <div>
              <label>Senha:</label>
              <input type="password" name="senha">
            </div>
            <input style="display: none;" type="radio" value=2 name="formulario" checked >
            <div  style="display: flex; flex-direction: row; gap: 10px;">
              <input class="button" type="submit" value="ENVIAR">
               <a type="submit" class="button" href="../index.html">Voltar</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>