<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Localconncet</title>
  <link rel="stylesheet" href="../static/index.css">

</head>

<body>
  <header class="menu">
    <h2> Local <span>Connect</span></h2>

  </header>
  <div class="container">
    <div class="card-perfil">
      <div class="cont">
        <div>
          <h1>Atualizar suas <span> informações </span></h1>
        </div>
        <form action="../src/Controller/userController.php" method="post">
          <div class="formulario">
            <div>
              <label>Nome:</label>
              <input type="text" name="name">
            </div>

            <div>
              <label>Email:</label>
              <input type="text" name="email">
            </div>

            <div>
              <label>Cidade:</label>
              <input type="text" name="cidade">
            </div>
            <div>
              <label>Estado:</label>
              <input type="text" name="estado">
            </div>

            <div>
              <label>Senha:</label>
              <input type="password" name="senha">
            </div>
            <input style="display: none;" type="radio" value=3 name="formulario" checked >
            <div style="display: flex; flex-direction: row; gap: 10px;">
              <input class="button" type="submit" value="ATUALIZAR">
              <a type="submit" class="button" href="../index.html">Voltar</a>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
